body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}
div.userList {
  display: flex;
  padding: 10px;
  justify-content: center;
}

div.userList > div {
  flex-grow: 1;
  text-align: left;
  width: 1.2em;
  max-width: 200px;
}

.AddNewUser > div.Name,
.AddNewUser > div.Age,
.AddNewUser > div.Job {
  display: flex;
  justify-content: center;
  padding: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
